/***************************************************************************
 ** Layout for the small login box   
****************************************************************************/

form.login_small {
        font-size: 8pt;
        width: 21em;
    }
 
.login_small label{
    display: block;
    float: left;
    text-align: right;
    width: 10em;
    font-size: inherit;
    } 
 
.login_small input{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #eaeaea;
    background: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background: -webkit-gradient(linear, left top, left bottom,
                color-stop(0.0, #ffffff), color-stop(1.0, #f2f2f2));
    border: 1px solid #cacaca;
    color: #797979;
    width: 10em;
    height: 1em;
    float: right;
    font-size: inherit;
  }

.login_small input[type=checkbox]{
    width: 1em;
    float: left;
  }

 
.login_small:focus{
    -webkit-box-shadow: 0px 0px 4px #aaa;
    -moz-box-shadow: 0px 0px 4px #aaa;
    box-shadow: 0px 0px 4px #aaa;
    }
 
.login_small .floatright{
	display: block;
	float: right;
}

.login_small input[type=submit]{
    width : 4em;
    color : black;
    cursor: pointer;
    margin-left: 0.2em;
    height: 17px;
 }
.login_small #register{
    font-size:7pt;
    width: 5.2em;
    padding: 0 0 2px 2px;
    
}
.login_small #login{
    font-weight: bold;   
}

#textarea{
	width: 600px;
	height: 130px;
	border: 1px solid #cccccc;
	padding: 5px;
	font-family: Tahoma;
	background-color: white;
	overflow-x: none;
	overflow-y: auto;
}

#butstyle{
	 -moz-border-radius: 5px;
    	-webkit-border-radius: 5px;
    	background-color: #eaeaea;
    	background: -moz-linear-gradient(top, #ffffff, #f2f2f2);
   		background: -webkit-gradient(linear, left top, left bottom,
                	color-stop(0.0, #ffffff), color-stop(1.0, #f2f2f2));
    	border: 1px solid #cacaca;
    	color: #797979;
		height: 25px;
		width:  58px;
        cursor: pointer;
		padding: 0 0 2px 2px;
		
}
