
h1, p, body, html {
	margin:0;
	padding:0;}

#body {
	high: 100%;
	background:#000;
	font:12px verdana, serif;
	}

	
#headerbg {
	font: 20px verenda, serif;
	position: absolute;
	top:0px;
	width: 1200px;
	background:#0000FF;
	padding:30px;
	}
	
#container {
	position:relative;
	margin:0 auto;
	width:800px;
	}

#footer {
	background:#0000FF;
	position: absolute;
	bottom: 0px;
	padding:40px;
	width: 1200px;
	text-align:center;
	}

#mymenu{
padding: 0;
width: 100%;
background: trasparent;
}

#mymenu ul{
font: bold 16px Arial;
margin: 0;
margin-left:40px;
padding: 0;
list-style: none;
}
#mymenu li{
display: inline;
margine 0 2px 0 0;
padding: 0;
text-transform:uppercase;
}
mymenu a{
float: left;
display: block;
color: white;
margin: 0 1px 0 0;
padding: 5px 10px;
text-decoration: none;
letter-spacing: 1px;
backgound-color: black;
border-bottom: 1px solid white;
}
mymenu a:hover{
background-color: gray;
}
#mymenu #current a{
background-color: #D25A0B;
border-color: #D25A0B;
}


.left {
	float:left;
	width:500px;
	background:#ccff66;
	}

.right {
	float:right;
	width:200px;
	background:#66ff33;
	}

.left p, .right p {
	padding:0px;
	}


.clear {clear:both;}

<img src="/picture/newbanner.png">
<div id="mymenu">
<ul>
<li style="margin-left: 1px"><a href="Home.php" title="Home">Home</a></li>
<li id="current"><a href="revised.html" title="Revised">Revised</a><li>
<li><a href="about.php" title="About">About</a></li>
<li><a href="contact.php" title="Contact">Contact</a></li>
</ul>
<form id="myform">
<input type="text" class="textinput" /> 
<input class="submit" type="submit" value="Search" />
</form>
</div>
<div id="mymenuline">&nbsp;</div>
#myform{
float: right;
margin:0;
padding:0;	
}
#myform .textinput{
width: 190px;
border: 1px solid gray;
}
#myform .submit{
font: bold 11px;
hight: 22px;
background-color: yellow;
}	
