/*	Lobster(italic brush script) + Cabin(humanist sans)
		
	---- Full pack (508 load)
	@import url(http://fonts.googleapis.com/css?family=Cabin:400,600,400italic,600italic|Lobster+Two:700italic,400italic);
		
	---- Slimpack (208 load)
	@import url(http://fonts.googleapis.com/css?family=Cabin:400,600|Lobster+Two:700italic);
*/		

@import url(http://fonts.googleapis.com/css?family=Cabin:400,600|Lobster+Two:700italic);

/****************************************************************************************/
body { font-family:"Cabin", Helvetica, Arial, sans; }

h1 { font-family:"Lobster Two", cursive; font-weight: bold; font-style: italic }
h2, h3, h4, h5, h6, ul, ol	{ font-family:"Cabin", Helvetica, Arial, sans; font-weight: bold;}
	



